// General Rules
* {
	font-family: 'Orbitron', sans-serif;

}

body {
	margin: 0;
	padding: 0;
	background-color: #111;
	color: #fff;
}

header {
	background-color: #222;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: #32cd32 solid 2px;
}

h1 {
	color: #32cd32;
}

h2 {
	color: #fff;
	
}

// In Lobby

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	height: max-content;
}

.username {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#username-form{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: 300px;
}

#username-input{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111;
	border: #32cd32 solid 2px;
	height: 50px;
	width: 300px;
	padding: 10px;
	color: #32cd32;
}

#enter{
	background-color: #32cd32;
	border: #111 2px solid;
	color: #111;
	height: 50px;
	width: 200px;
	transition: 0.5s;
}

#enter:hover{
	background-color: #111;
	border: #32cd32 3px solid;
	color: #32cd32;
}

#lobby > header {
	background-color: #111;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100px;
	width: 100px;
}

.loader > span {
	position:absolute;
	width: 9px;
	height: 9px;
	background: #32cd32;
	border: #111 0.5px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: animate 4s linear infinite;
	animation-delay: calc(-0.5s*var(--i));
}

@keyframes animate {
	0%{
		top: 0;
		left: 20px;
		transform: scaleY(1);
	}
	2%{
		top: 0;
		left: 20px;
		transform: scaleY(0.4);

	}
	10%{
		top: 0;
		left: 10px;
		transform: scaleY(1);

	}
	40%{
		top: 0;
		left: -20px;

	}
	60%{
		top: -40px;
		left: -20px;
	}
	85%{
		top: -40px;
		left: 20px;
	}
	100%{
		top: 0;
		left: 20px;
	}
}
  
.stats {
	align-items: center;
}
  
.stats p {
	margin: 0 20px;
}

.hide {
	display: none;
}


#gameList li {
	background-color: #6b6d6b;
	border: #111 2px solid;
	color: #111;
	height: 23px;
	padding: 10px;
	transition: 0.5s;
	text-align: center;
	list-style: none;
}

.latestGameWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}

#reactionList{
	display: flex;
	height: 200px;
	flex-wrap: wrap;
}

#reactionList li {
	background-color: #6b6d6b;
	border: #111 2px solid;
	color: #111;
	height: 23px;
	padding: 10px;
	transition: 0.5s;
	text-align: center;
	list-style: none;
	margin: 3px;
}

#gameList,
#reactionList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

// Playing Game

#game {
	display: none;
	background-color: #111;

}
  
#gameboard {
	width: 80%;
	height: 75vh;
	float: left;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

#virus {
	font-size: 3rem;
	cursor: pointer;
}

.virusHeader {
	background: #111;
	border-bottom: #32cd32 1px solid;
	padding-top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
}

.virusHeader >h2 {
	color: #32cd32;
	padding: 0 20px;

}

#gameScreen {
 	width: 90%;
	height: 100%;
	background-color: #222;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 10px;
	justify-items: center;
	align-items: end;
}
  
#scoreboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: left;
	width: 300px;
	height: 75vh;
	background-color: #111;
	color: #fff;
	border-left: #32cd32 2px solid;

	#liveTimer {
		color: #fff;
		min-width: 90px;
	}
}
  
.scoreHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background: #111;
	color: #fff;
}

.currentScore {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	font-size: xx-large;

}

.you {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
	align-items: center;

	.yourName {
		margin-right: 1rem;
	}
}

.opponent {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;

	.opponentName {
		margin-right: 1rem;
	}
}

// After playing Game

#endGameBoard{
	display: none;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border: #32cd32 2px solid;
	padding: 30px;
	background-color: #222;
	margin: 100px;

}

#endGameBoard > p {
	color: #fff;
}

#toLobby{
	background-color: #32cd32;
	border: #111 2px solid;
	color: #111;
	height: 50px;
	width: 200px;
	transition: 0.5s;
}

#toLobby:hover{
	background-color: #111;
	border: #32cd32 3px solid;
	color: #32cd32;
}

// Footer (all pages)

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10vh;
	background-color: #111;
	border-top: #32cd32 0.5px solid;
	color: #fff;
	text-align: center;

}

.emoji {
	display: inline-block;
	animation: tilt 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes tilt {
	from {
	  transform: rotate(-10deg);
	}
	to {
	  transform: rotate(10deg);
	}
  }
